.grrrls-flex {
    display: flex;

    &--align-center {
        align-items: center;
    }

    &--justify-content-center {
        justify-content: center;
    }

    &--justify-content-around {
        justify-content: space-around;
    }

    &--vertical-align {
        vertical-align: middle
    }
}